.abmetitle {
    padding: 0 2.5%;
    margin-top: clamp(125px, 30vh, 250px);

    h1 {
        font-size: 8vw;
        line-height: 1.2;
        font-weight: 500;
    }
}


// DESCRIPTION


.abmedescription {
    display: flex;
    padding: 0 2.5%;
}

.abmedescriptiongauchediv,
.abmedescriptiondroitediv {
    display: flex;
    width: 50%;
}

.abmedescriptiondroitediv {
    justify-content: center;
}

.abmedescriptiongauche,
.abmedescriptiondroite {
    display: flex;
    flex-direction: column;
    width: 75%;

    p {
        width: 75%;
        color: $color-white;
        font-size: 1.25vw;
    }
}

.abmedescriptiongauche {
    justify-content: end;
}


// CV SERVICES


.abmecvservices {
    display: flex;
    padding: 0 2.5%;
    margin-top: clamp(50px, 15vh, 100px);
    flex-direction: row;
}

.abmecv {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    width: 50%;
    align-items: center;
    border-radius: 1000px;
    border-color: #002AFF;
    border-width: 5px;
    border-style: solid;

    p {
        font-size: 1vw;
    }
}

.abmecvtrait {
    margin-top: 10px;
    width: 50%;
    height: 5px;
    background-color: $color-white;
}

.abmeservices {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    h1 {
        font-size: 8vw;
    }
}

.abmeservicesdiv {
    display: flex;
    justify-content: space-between;
}

@each $i in 1, 2, 3 {
    .abmeservicesdiv#{$i} {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;

        p {
            color: $color-white;
            font-size: 1vw;
            font-weight: 200;
        }
    }
}

@media (max-width: 768px) {
    .abmetitle {
        h1 {
            font-size: 15vw;
        }
    }

    .abmedescription {
        flex-direction: column;
        gap: 40px;

        .abmedescriptiongauchediv,
        .abmedescriptiondroitediv {
            width: 100%;
        }

        .abmedescriptiongauche,
        .abmedescriptiondroite {
            width: 100%;

            p {
                font-size: 18px;
                width: 100%;
            }
        }
    }

    .abmecvservices {
        flex-direction: column;
        gap: 60px;

        .abmecv,
        .abmeservices {
            width: 100%;
            margin: 0;
        }

        .abmecv p {
            font-size: 16px;
            padding: 10px;
        }
    }

    .abmeservices {
        h1 {
            font-size: 12vw;
        }

        .abmeservicesdiv {
            flex-direction: column;
            gap: 20px;
            width: 100%;

            [class^="abmeservicesdiv"] {
                width: 100%;

                p {
                    font-size: 16px;
                }
            }
        }
    }
}