$color-bg: #090909;
$color-white: #FFFFFF;
$color-black: #000000;
$color-light-yellow: #FEFFE3;
$color-pink: #FF00B6;
$color-bar: #F8B2E4;
$color-blue: #002AFF;
$color-green: #C9FF46;
$color-grey: #D9D9D9;

$font-league: "League Spartan", sans-serif;
$font-inter: "Inter", sans-serif;
$font-inspiration: "Inspiration", sans-serif;
$font-kapakana: "Kapakana", sans-serif;


@mixin button-base {
    padding: 10px 10%;
    border: 1px solid;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "League Spartan";
    src: url("/fonts/LeagueSpartan.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.ttf");
}

@font-face {
    font-family: "Inspiration";
    src: url("/fonts/Inspiration.ttf");
}

@font-face {
    font-family: "Kapakana";
    src: url("/fonts/Kapakana.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: $color-bg;
}

h1 {
    font-family: $font-league;
    color: $color-white;
}

h3 {
    font-family: $font-kapakana;
    color: $color-white;
    font-size: 5vw;
}

p {
    font-family: $font-inter;
    font-size: 30px;
}

a {
    font-family: $font-inter;
    color: $color-white;
    font-size: 30px;
    text-decoration: none;
}


// HEADER


.header {
    padding: 0 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #headerlogo {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .burger-menu {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 60px;
        height: 45px;
        cursor: pointer;
        z-index: 1001;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);

        span {
            display: block;
            height: 6px; // Thick, 'big' lines
            width: 100%;
            background-color: $color-white;
            transition: all 0.3s ease;
        }

        &.active {
            span:nth-child(1) {
                transform: translateY(19.5px) rotate(45deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: translateY(-19.5px) rotate(-45deg);
            }
        }
    }
}

.headermenudiv {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;

    // Hide desktop menu when burger is needed (e.g., at 1024px)
    @media (max-width: 1024px) {
        position: fixed;
        top: 0;
        right: -100%; // Slide from right
        left: auto;
        width: 70%;
        max-width: 400px;
        height: 100vh;
        background-color: rgba($color-bg, 0.95);
        backdrop-filter: blur(10px);
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        z-index: 1000;
        border-left: 1px solid $color-pink;
        border-right: none;
        transition: all 0.3s ease;

        &.active {
            right: 0;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        .burger-menu {
            display: flex;
        }
    }
}

.headermenu {
    cursor: pointer;
    padding: 10px 20px;
    color: $color-white;

    @media (max-width: 1024px) {
        font-size: 24px;
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
}

.headermenuthis {
    @extend .headermenu;
    border: 1px solid $color-pink;
    border-radius: 100px;
}



.footer {
    display: flex;
    margin: clamp(100px, 25vh, 200px) 0 clamp(100px, 10vh, 100px) 0;
    flex-direction: column;
}

.footerdiv {
    display: flex;
    padding: 0 2.5%;
    width: 95%;
}

.footertitle {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;

    p {
        color: $color-white;
        font-size: 14vh;
    }
}

.footercol {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
        color: $color-white;
        padding-bottom: 25px;
    }
}

.footerbar {
    align-items: center;
    display: flex;
    margin-top: clamp(100px, 10vh, 100px);
}

.footerbar1,
.footerbar5 {
    background-color: $color-grey;
    height: 5px;
    width: 10%;
}

.footerbar2,
.footerbar4 {
    @include flex-center;
    width: 10%;

    p {
        color: $color-white;
        font-size: 2vh;
    }
}

.footerbar3 {
    background-color: $color-grey;
    height: 5px;
    width: 60%;
}