h1 {
    font-family: 'League Spartan';
    font-weight: 400;
}
/* Import police si tu veux le mettre ici aussi */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #000; /* si tu veux le fond noir */
    font-family: 'League Spartan', sans-serif;
}

.container {
    display: flex;                  /* met le texte + photo sur la même ligne */
    justify-content: space-between; /* texte à gauche + photo à droite */
    align-items: center;            /* centre verticalement */
    padding: 80px;
}

.title {
    color: white;
    font-size: 4rem;
    font-weight: 400; /* Regular */
    font-size: 128px; /* taille de la police */

}

.container img {
    width: 500px;     /* ajuste la taille de ta photo */
    height: 500px;
    object-fit: cover; /* évite la déformation */
}
.contact-box {
    border: 2px solid #C9FF46; /* contour vert */
    padding: 20px 30px;        /* taille du rectangle */
    width: 420px;              /* tu peux agrandir si tu veux */
    display: flex;
    justify-content: space-between; /* MAIL à gauche / mail à droite */
    align-items: center;
    margin-top: 40px;          /* espace avec le dessus */
    margin-left: 80px;
}

.contact-box .label {
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase; /* met MAIL en majuscules */
}

.contact-box .value {
    font-size: 14px;
    color: white; /* tu peux changer la couleur si besoin */
}
.follow {
    font-family: "Kapakana", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: white;
    text-align: right;
    margin-top: 10px;
    margin-right: 80px;
    margin-top: -150px;
}



