.projectFourPart2 {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: clamp(100px, 40vh, 200px);
}

.projectFourPart2Haut,
.projectFourPart2Bas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    img {
        width: 30%;
    }
}

.projectFourPart2Ball {
    display: flex;
    position: absolute;
    right: 22%;
    top: 180%;
}

.projectFourPart3 {
    margin-top: clamp(75px, 25vh, 150px);
    margin-bottom: clamp(250px, 90vh, 450px);
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
}

.projectFourPart3Haut {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 40%;
    }

    p {
        font-size: 3vw;
        color: $color-white;
        width: 40%;
    }
}

.projectFourPart3Bas {
    display: flex;

    img {
        width: 40%;
    }

    #projectFourPart3Bas1 {
        position: absolute;
        left: 10%;
        top: 325%;
    }

    #projectFourPart3Bas2 {
        position: absolute;
        left: 40%;
        top: 340%;
    }
}

@media (max-width: 768px) {

    .projectFourPart2Haut,
    .projectFourPart2Bas {
        flex-direction: column;
        gap: 20px;

        img {
            width: 100%;
        }
    }

    .projectFourPart2Ball {
        display: none;
    }

    .projectFourPart3Haut {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;

        img,
        p {
            width: 100%;
        }

        p {
            font-size: 24px;
        }
    }

    .projectFourPart3Bas {
        flex-direction: column;
        align-items: center;
        gap: 20px;

        img {
            width: 100% !important;
            position: static !important;
        }
    }

    .projectFourPart3 {
        margin-bottom: 100px;
    }
}