.projectTwoPart1 {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-evenly;

    img {
        width: 35%;
    }

    p {
        color: $color-white;
        font-size: 5vw;
        width: 55%;
    }

    margin-bottom: clamp(75px, 25vh, 150px);
}


// Part 2


.projectTwoPart2haut {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;

    p {
        color: $color-white;
        font-size: 1.4vw;
        width: 40%;
        font-weight: 200;
    }

    img {
        width: 60%;
    }
}

.projectTwoPart2bas {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;

    p {
        color: $color-white;
    }
}

.projectTwoPart2basgauche {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.projectTwoPart2basdroite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    p {
        font-size: 3vw;
    }
}


// Image du bas


.projectTwoPart3 {
    margin-top: clamp(75px, 25vh, 150px);
    margin-bottom: clamp(100px, 30vh, 150px);
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;

    img {
        width: 45%;
    }
}


// Bas Titre


.ProjectBasPage {
    margin-top: clamp(100px, 40vh, 200px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ProjectBarTrait {
    width: 100%;
    height: 3px;
    background-color: $color-white;
}

.ProjectBasPageInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: clamp(25px, 10vh, 50px);
    margin-bottom: clamp(25px, 10vh, 50px);

    p {
        color: $color-white;
        font-size: 5vw;
    }
}

.floating-illustration {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    width: 450px;
    right: 700px;
    top: 1350px;

}

@media (max-width: 768px) {

    .projectTwoPart1,
    .projectTwoPart2haut,
    .projectTwoPart2bas,
    .projectTwoPart3 {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;

        img,
        p {
            width: 100%;
        }

        p {
            font-size: 18px;
        }
    }

    .projectTwoPart2basgauche,
    .projectTwoPart2basdroite {
        width: 100%;
    }

    .projectTwoPart2basdroite p {
        font-size: 24px;
    }

    .ProjectBasPageInfo p {
        font-size: 32px;
    }

    .floating-illustration {
        display: none;
    }
}