@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

p {
    font-family: "inter";
    color: #FEFFE3;
    font-size: 16px;
}

.img {
    margin-left: 47px;
}

body {
    background-color: #090909;
}

.big-title {
    font-size: 196px;
    font-weight: bold;
    font-family: "League spartan";
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    z-index: -2;
}

.rectangeprojet {
    width: 100%;
    height: 1300px;
    background-color: #000000;
    position: absolute;
    z-index: 1;
    margin-top: 130px;

}

.PremiersProjets, 
.DeuxiemesProjets {
    display: flex;
    justify-content: center;
    width: 100%;
}

.texteprojet {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 119px;
}

.alignementprojet {
    display: flex;
    text-align: left;
}

.Gras {
    color: #FEFFE3;
    font-family: "inter";
    font-size: 18px;
    font-weight: bold;
}