.projectFourPart2 {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: clamp(100px, 40vh, 200px);
}

.projectFourPart2Haut, .projectFourPart2Bas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    img{
        width: 30%;
    }
}

.projectFourPart2Ball {
    display: flex;
    position: absolute;
    right: 22%;
    top: 180%;
}

.projectFourPart3 {
    margin-top: clamp(75px, 25vh, 150px);
    margin-bottom: clamp(250px, 90vh, 450px);
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
}

.projectFourPart3Haut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 40%;
    }
    p {
        font-size: 3vw;
        color: $color-white;
        width: 40%;
    }
}

.projectFourPart3Bas {
    display: flex;
    img {
        width: 40%;
    }

    #projectFourPart3Bas1 {
        position: absolute;
        left: 10%;
        top: 325%;
    }
    #projectFourPart3Bas2 {
        position: absolute;
        left: 40%;
        top: 340%;
    }
}