$color-bg: #090909;
$color-white: #FFFFFF;
$color-black: #000000;
$color-highlight-pink: #FF00B6;
$color-bar: #F8B2E4;
$color-highlight-blue: #002AFF;
$color-highlight-green: #C9FF46;
$color-grey: #D9D9D9;

$font-league: "League Spartan", sans-serif;
$font-inter: "Inter", sans-serif;
$font-inspiration: "Inspiration", sans-serif;
$font-kapakana: "Kapakana", sans-serif;


@mixin button-base {
    padding: 10px 10%;
    border: 1px solid;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "League Spartan";
    src: url("/fonts/LeagueSpartan.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.ttf");
}

@font-face {
    font-family: "Inspiration";
    src: url("/fonts/Inspiration.ttf");
}

@font-face {
    font-family: "Kapakana";
    src: url("/fonts/Kapakana.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-bg;
}


h1 {
    font-family: $font-league;
    color: $color-white;
}

h3 {
    font-family: $font-kapakana;
    color: $color-white;
    font-size: 5vw;
}

p {
    font-family: $font-inter;
    font-size: 30px;
}

a {
    font-family: $font-inter;
    color: $color-white;
    font-size: 30px;
    text-decoration: none;
}


// HEADER


.header {
    padding: 0 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #headerlogo {
        width: 100px;
        height: 100px;
    }
}

.headermenudiv {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.headermenu {
    cursor: pointer;
    padding: 10px 20px;
    color: $color-white;
}

.headermenuhome {
    @extend .headermenu;
    border: 1px solid $color-highlight-pink;
    border-radius: 100px;
}


// FOOTER


.footer {
    display: flex;
    margin: clamp(100px, 25vh, 200px) 0 clamp(100px, 10vh, 100px) 0;
    flex-direction: column;
}

.footerdiv {
    display: flex;
    padding: 0 2.5%;
    width: 95%;
}

.footertitle {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;

    p {
        color: $color-white;
        font-size: 14vh;
    }
}

.footercol {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
        color: $color-white;
        padding-bottom: 25px;
    }
}

.footerbar {
    align-items: center;
    display: flex;
    margin-top: clamp(100px, 10vh, 100px);
}

.footerbar1, .footerbar5 {
    background-color: $color-grey;
    height: 5px;
    width: 10%;
}

.footerbar2, .footerbar4 {
    @include flex-center;
    width: 10%;

    p {
        color: $color-white;
        font-size: 2vh;
    }
}

.footerbar3 {
    background-color: $color-grey;
    height: 5px;
    width: 60%;
}


// ---------- HOME PAGE ----------
// HERO


.hero {
    padding: 0 2.5%;

    img {
        position: absolute;
        width: 12%;
        height: auto;
    }
}

.herodiv {
    margin: clamp(125px, 30vh, 250px) 0 clamp(125px, 30vh, 250px) clamp(100px, 14%, 200px);
    display: flex;
    flex-direction: column;
}

#herotitle {
    font-size: 12vw;
}


// Hero images positions


$hero-images: (
    1: (35%, 5%, -2),
    2: (60%, 10%, -1),
    3: (10%, 40%, -1),
    4: (20%, 30%, -2),
    5: (40%, 40%, -1),
    6: (60%, 45%, -2),
    7: (10%, 65%, -2),
    8: (15%, 85%, -2),
    9: (40%, 75%, -1),
    10: (60%, 80%, -2)
);

@each $num, $props in $hero-images {
    #heroimg#{$num} {
        top: nth($props, 1);
        left: nth($props, 2);
        z-index: nth($props, 3);
    }
}


// BAR


@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.bar {
    overflow: hidden;
    background-color: $color-bar;
    color: $color-bg;
    padding: 20px 0;
    position: relative;
}

.bar-content {
    display: flex;
    animation: scroll 20s linear infinite;

    span {
        font-family: $font-inter;
        font-size: 20px;
        padding-right: 0.5rem;
        white-space: nowrap;
    }
}


// ABOUT ME


.aboutme {
    padding: 0 2.5%;
    margin-top: clamp(75px, 20vh, 150px);
}

.aboutmetitlediv {
    @include flex-center;
}

#aboutmetitle {
    font-size: 12vw;
    font-weight: 500;
}

.aboutmediv {
    display: flex;
    justify-content: space-between;
}

.aboutmep1div, .aboutmep2div {
    width: 33%;
    display: flex;
    flex-direction: column;
    color: $color-white;
    white-space: nowrap;
}

.aboutmep1div {
    align-items: end;
    justify-content: end;
}

.aboutmep2div {
    align-items: start;
    justify-content: end;
}

.aboutmeimagediv {
    width: 33%;
    @include flex-center;
}

.aboutmebuttondiv {
    margin-top: clamp(50px, 10vh, 100px);
    @include flex-center;

    a {
        @include button-base;
        color: $color-white;
        border-color: $color-highlight-blue;

        &:hover {
        background-color: $color-highlight-blue;
        }
    }
}


// PROJETS


.projets {
    display: flex;
    margin-top: clamp(100px, 25vh, 200px);
}

.projetsgauchediv {
    width: 50%;
}

.projetstitlediv {
    margin-bottom: clamp(100px, 25vh, 200px);
}

#projetstitle {
    padding-left: 5%;
    font-size: 8vw;
    font-weight: 400;
}

.projetspackgroundimagediv img {
    width: 200%;
}

.projetsbuttondiv {
    margin-top: clamp(50px, 10vh, 100px);
    @include flex-center;

    a {
        color: $color-white;
        padding: 10px 10%;
        border: 0.5px solid $color-highlight-green;
        transition: all 0.3s ease;

        &:hover {
        background-color: $color-highlight-green;
        color: $color-black;
        }
    }
}

.projetsdiv {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: $color-grey;
    align-items: center;
    gap: 25px;

    img {
        width: 90%;
        height: auto;
        cursor: pointer;
    }
}




// ---------- ABOUT ME PAGE ----------




.abmetitle {

    padding: 0 2.5%;
    margin-top: clamp(125px, 30vh, 250px);

    h1 {
        font-size: 8vw;
        line-height: 1.2;
        font-weight: 500;
    }
}


// DESCRIPTION


.abmedescription {
    display: flex;
    padding: 0 2.5%;
}

.abmedescriptiongauchediv, .abmedescriptiondroitediv {
    display: flex;
    width: 50%;
}

.abmedescriptiondroitediv {
    justify-content: center;
}

.abmedescriptiongauche, .abmedescriptiondroite {
    display: flex;
    flex-direction: column;
    width: 75%;
    p {
        width: 75%;
        color: $color-white;
        font-size: 1.25vw;
    }
}

.abmedescriptiongauche {
    justify-content: end;
}


/* CV SERVICES */


.abmecvservices {
    display: flex;
    padding: 0 2.5%;
    margin-top: clamp(125px, 30vh, 250px);
    flex-direction: row;
}

.abmecv, .abmeservices {
    display: flex;
    justify-content: center;
    width: 50%;

    h1 {
        font-size: 12vw;
    }
}