$color-bg: #090909;
$color-white: #FFFFFF;
$color-highlight: #FF00B6;
$color-bar: #F8B2E4;

$pfont-size: 30px;

$font-league: "League Spartan", sans-serif;
$font-inter: "Inter", sans-serif;
$font-inspiration: "Inspiration", sans-serif;
$font-kapakana: "Kapakana", sans-serif;


@font-face {
    font-family: "League Spartan";
    src: url("/fonts/LeagueSpartan.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.ttf");
}

@font-face {
    font-family: "Inspiration";
    src: url("/fonts/Inspiration.ttf");
}

@font-face {
    font-family: "Kapakana";
    src: url("/fonts/Kapakana.ttf");
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-bg;
}

h1 {
    font-family: $font-league;
    color: $color-white;
    font-size: 12vw;
}

h3 {
    font-family: $font-kapakana;
    color: $color-white;
    font-size: 5vw;
}

p {
    font-family: $font-inter;
    font-size: $pfont-size;
}

a {
    font-family: $font-inter;
    color: $color-white;
    font-size: 30px;
    text-decoration: none;
}


/* HEADER */


.header {
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .headermenudiv {
        display: flex;
        width: 60%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #headerlogo {
        width: 100px;
        height: 100px;
    }

    .headermenu {
        cursor: pointer;
        padding: 10px 20px;
        color: $color-white;
    }

    .headermenuhome {
        @extend .headermenu;
        border-width: 1px;
        border: solid;
        border-radius: 100px;
        border-color: $color-highlight;
    }
}


/* HERO */


.hero {
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: clamp(125px, 30vh, 250px);
    margin-bottom: clamp(125px, 30vh, 250px);
    margin-left: clamp(100px, 14%, 200px);
    display: flex;
    flex-direction: column;
}


/* BAR */


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.bar {
    overflow: hidden;
    background-color: $color-bar;
    color: $color-bg;
    padding: 20px 0;
    position: relative;
}

.bar-content {
    display: flex;
    animation: scroll 20s linear infinite;
}

.bar-content span {
    font-family: $font-inter;
    font-size: $pfont-size;
    padding-right: 2rem;
    white-space: nowrap;
}


/* ABOUT ME */


.aboutme {
    display: flex;
    justify-content: center;
}