@font-face {
    font-family: "League Spartan";
    src: url("/fonts/LeagueSpartan.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.ttf");
}
@font-face {
    font-family: "Inspiration";
    src: url("/fonts/Inspiration.ttf");
}
@font-face {
    font-family: "Kapakana";
    src: url("/fonts/Kapakana.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #140B42;
}

h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 50px;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}

a {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    text-decoration: none;
}

.header {
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headermenudiv {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#headerlogo {
    width: 100px;
    height: 100px;
}

.headermenu {
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

.headermenuhome {
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    border-width: 1px;
    border: solid;
    border-radius: 100px;
    border-color: #FF00B6;
}